@charset "UTF-8";

/*
  em HTML é id = em CSS é # (só um elemento)
  em HTML é class = em CSS é .(varios elementos)
*/

body {
    background-color: rgb(167, 255, 167);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(0, 77, 0);
    
}

h1#principal {
    text-align: center;
    background-color: rgb(7, 122, 7);
    color: white;
    
}


h2 {
    color: rgb(75, 105, 75);
}

.basico {
   color: rgb(0, 175, 0);
   font-weight: bold;
}

.intermediario{
   color: rgba(158, 158, 0, 0.932);
}

.avancado {
    color: red;

}
